<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/inicio.css">
    <title>XXXXX</title>
</head>
<body>
    <header>
        <h1 class="header-title">Rede de Apartamentos  Tales Lima</h1>
        <footer>
            <section class="endereco" >
                <a href="" class="link">Rua: </a>
                <a href="" class="link">Bairro: </a>
                <a href="" class="link">Cidade: </a>
            </section>
            <section class="contato" >
                <a href="" class="link">Instagram</a>
                <a href="" class="link">WhatsApp</a>
                <a href="" class="link">Telefone</a>
            </section>
        </footer>
    </header>
    <main>
        <a href="#" id="logar">Sair</a>
        <section class="main-container">
            <h2 class="main-container-title">Apartamentos Disponiveis</h2>
                <div class="ap">
                    <div class="img">
                        <img src="#" alt="é de fude" class="foto">
                        <img src="#" alt="é de fude" class="foto">
                        <img src="#" alt="é de fude" class="foto">
                    </div>
                    <div class="detalhes">
                        <form action="">
                            <input type="number" placeholder="Valor">
                            <input type="number" placeholder="Anadar">
                            <input type="number" placeholder="Quartos">
                            <input type="number" placeholder="Banheiros">
            
                    </form>
                    <textarea name="descricao" id="descricao" cols="30" placeholder="Descrição do apartamento" rows="8"></textarea>
                    <a href="" class="bnt">Salvar</a>
                </div>    
                      
        </section>
    </main>
</body>
</html>