form{
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
    justify-content: space-around;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 10% auto;
    background: white;
    border: 1px outset silver;
}
h2{
    color: rgb(20, 20, 20);
    align-self: center;
}
.bnt{
    align-self: center;
    padding: 15px;
}